<div class="card">
  <div class='card-header <%= variant.present? ? "card-header-#{variant}" : " "%>'>
    <div class="card-title">
      <%= title %>
    </div>
  </div>
  <div class="card-body">
    <%= content %>
  </div>
  <% if footer %>
    <div class="card-footer">
      <%= footer %>
    </div>
  <% end %>
</div>
